.container {
  flex: 4;
  margin: 20px;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.item > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.item > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.gender > input {
  margin-top: 15px;
}

.gender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.select {
  height: 40px;
  border-radius: 5px;
}

.button {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}
